/* GENERAL STYLES */

p {
    margin: 0.25em 1rem 1rem;
    color: black
}

h1 {
    color: #262626;

    margin: 0;
}

h2 {

    color: aliceblue;
    text-transform: uppercase;
    text-align: center;
    padding: 0.5rem;
    font-size: 1em;
    margin: 0;
    background-color: #232020;
}

#dish-name {
    color: aliceblue;
    text-align: center;
    padding: 0.5rem;
    font-size: 1em;
    margin: 0;
    background-color: #232020;
}

h3 {
    color: black;
    text-align: center;
    padding: 0.5rem;
    font-size: 1em;
    margin: 0;
}

h4 {}

.discount {
    text-decoration: line-through;
    color: red;
}

h5 {
    position: absolute;
    z-index: 2;
    top: 90%;
    left: 2%;
    height: 50%;
    /* display: block;*/
    color: firebrick;
    text-align: center;
    font-size: 0.8em;
    margin: 0;
}


.sold-out-text {
    position: absolute;
    color: white;
    text-transform:uppercase;
    z-index: 2;
    top: 20%;
    left: 30%;
    /*    height: 50%;*/
    /* display: block;*/
    font-size: 2em;
    margin: 0;
}


body {
    font-family: "Verdana", sans-serif;
    color: #fff;
    margin: 1em;
    background-image: url("../images/wood-1130494_1920.jpg");
}


/* Body content colours and other styling here */

header {
    background-color: #f46524;
    height: auto;
    margin-bottom: 1rem;

    /*    margin-bottom: 1rem;*/
}



aside {
    background-color: #f1692b;
    height: auto;
    padding: 1rem;
}

section > h2 {
    grid-column: 1/-1;
}


#side-menu {
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-size: 13px;
    color: #717171;
    width: 100%;
}

#side-menu li {
    border-bottom: 1px solid #eeeeee;
    padding: 7px 10px 7px 10px;
}

a,
#side-menu li:hover {
    color: black;
}

#side-menu li:hover {
    background-color: #f4f4f4;
}


#side-menu a:link {
    text-decoration: none;
}


a {
    /*    display: inline-block;*/

    padding: 0 1rem 0 0;
    font-size: 1.3em;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

a:hover {
    color: black;
}

#top-nav {
    margin: 0.5rem;
}


footer {
    background-color: #2DB3A5;
}

.left {
    text-align: left;
    float: left;
}

.right {
    float: right;
    text-align: right;
}



body {

    background-color: #dde;
}

/* Grid area names defined here */
header {
    grid-area: header;
}


main {
    grid-area: main;
}

main > section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 1rem;
    grid-auto-flow: row;
}

aside {
    order: 0;
    width: 13vw;
    grid-area: aside;
    position: fixed;
    grid-template-columns: repeat(2, 1fr);

}

footer {
    grid-area: footer;
    background-color: dodgerblue;
    box-sizing: border-box;
    padding: 1rem;
}

footer.footer-left,
footer.footer-middle,
footer.footer-right {
    display: inline;
}


article {
    display: flex;
    flex-flow: column;
    padding: 0 1rem 1rem 1rem;
    margin-bottom: 1rem;
    align-items: center;
    background-color: #f4f4f4;
    position: relative;
}



img {
    max-width: 100%;
    height: auto;
}

/*

.v-icon {
    position: absolute;
    z-index: 2;
    top: 67%;
    left: 10%;
    height: 50%;
    width: 10%;
    background-image: url('/images/v-icon.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    display: block;

}
*/

/*
.sold-out {
    position: absolute;
    z-index: 3;
    top: 2%;
    left: 25%;
    height: 50%;
    width: 50%;
    background: url('/images/sold-out.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    display: block;
}
*/



.hidden {
    display: none;
}

button {
    position: relative;
    bottom: 0;
    background: #8BA651;
    color: white;
    padding: 0.5rem;
    border: none;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
}



/*read more - modal box*/

.hide {
    display: none;
}

.modal-background {
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    background-color: #fefefe;
    border: 1px solid #7c1f17;
    margin: 1em;
    padding: 2em;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}



@media only screen and (min-width: 900px) {
    body {
        display: grid;
        grid-template-columns: 1fr 20px 5fr;
        grid-template-areas:
            "aside . header header"
            "aside . main main "
            "footer footer footer footer";
    }
}
