@import url('https://fonts.googleapis.com/css?family=Roboto:400,900&display=swap');


body {
    padding: 1rem 2rem 2rem 0;
    font-family: 'Roboto', sans-serif;
    background-image: url(/images/wood-1130494_1920.jpg);
    /*    background-color: #D9CDBF;*/

}



/*
.sidebar {
     display: grid;
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
        grid-gap: 1rem;
}
*/



#side-nav {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-gap: 1rem;
    position: fixed;
    width: 10rem;
    height: 100%;
    margin: 0%;
    background-color: #f1692b;
}



main {
    max-width: 500px;
    margin: 0 auto;
    color: aliceblue;
}



/* CSS that applies to browsers that support grid */
@supports (display: grid) {
    main {
        max-width: none;
        margin: 0;
    }


    /*
    header {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-gap: 1rem;
    }
*/

    main {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-gap: 1rem;
        grid-auto-flow: row;
    }
}


article {
    display: flex;
    flex-flow: column;
    padding: 1rem;
    margin: 1rem 0 0 0;
    align-items: center
}

article > img {
    order: -1;
    align-self: center;
}

img {
    max-width: 100%;
    height: auto;
}



h1 {
    color: #262626;
    font-size: 2em;
    margin: 0;
}

h2 {
    color: aliceblue;
    text-align: center;
    padding: 0.5rem;
    font-size: 1em;
    margin: 0;
    background-color: #6a6667;
}

/* sold out items styling
.sold-out {
    background-color: aliceblue;
    color: black;
    font-size: 1.5em;
    font-weight: 800;
    position: relative;
    bottom: 45%;
    padding: 0 8rem;

}
*/


#top-nav {

    grid-column: 1/-1;
    text-align: center;
    background-color: #445925;
    overflow: hidden;
    display: inline-block;
    padding: 0.5rem;
}

nav ul {
    list-style: none;
    margin: 0 2px;
    padding: 0;
}


a {
     font-family: 'Roboto', sans-serif;
}

nav a {

    color: aliceblue;
    text-align: center;
    padding: 0.5rem;
    font-size: 1em;
    margin: 0;
    text-decoration: none;

}


/*styling not working on database link in top nav*/
#top-nav,
li,
a.active {
    color: black;
    text-decoration: none;
}

#top-nav,
li,
a:hover:not(.active) {
    color: black;
    text-decoration: none;
}



p {
    margin: 0.25em 1rem 1rem;
    color: aliceblue;
}

main {
    font-family: 'Roboto', sans-serif;
    font-size: 80%;
    margin-left: 16rem;
}

article {
    background-color: #282923;

}

article > button {

    background: #8BA651;
    color: white;
    padding: 0;
    border: none;

    font-size: 1.2rem;
}
